{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font family: 'Poppins', sans-serif;
}

body{
    background-image: url(sample-background.png);
    height: 2025px;
    background-position: center;
    background-attachment: fixed;
    background: cover;
}

.FAQ{
    margin: 30%, auto;
    text-align: center;
    color: #48AAB8;
}

h3{
    color: #ED8986;
}
